DATABASE_URL=postgres://user:password@ep-xxxx.us-east-2.aws.neon.tech/neondb?sslmode=require

NEXTAUTH_URL=https://seu-app.onrender.com
NEXTAUTH_SECRET=gere-um-secret-aleatorio-aqui

ADMIN_EMAIL=seu@email.com
ADMIN_PASSWORD=sua-senha-segura
